.navbar-custom {
    background-color: #33302E;
    color: white;
  }
  .navbar-custom .navbar-nav .nav-link {
    color: white;
  }
  .navbar-custom .navbar-brand {
    color: white;
  }
  .navbar-custom .navbar-toggler-icon {
    filter: invert(1);}
.carousel-item img {
        width: 50%;
        height: auto;
        margin: 0 auto;
    }
  .text-justify {
      text-align: justify;
    }
    
    .gray-text {
      color: #6c757d; 
      font-size: 20px;
    }

    .titulo {
      font-size: 30px; 
      font-weight: bold; 
      color: #8B4513; 
    }

    .footer-custom {
      background-color: #33302E; 
      color: #FFFFFF; 
      padding: 20px 0; 
    }
    .titulo2 {
      font-size: 30px; 
      font-weight: bold; 
      color: #8B4513; 
      text-align: center;
    }

    .form-label {
      text-align: left;
      display: block;
      width: 100%;
  }
  .form-container {
      max-width: 600px;
      margin: 0 auto;
      background-color: #ffffff; 
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  }
  .fundo{
    background-color: #e6ac7c; 
}
.btn-orange {
  background-color: #FFA500 !important; 
            border-color: #FFA500 !important; 
            color: white !important ;
}
.btn-orange:hover {
  background-color: #FF8C00 !important; 
  border-color: #FF8C00 !important; 
}